<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aydinlikbilgiislem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aydinlikbilgiislem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aydinlikbilgiislem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$aydinlikbilgiislem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="genelEntities6" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Aydinlik_Bilgi_Islem.Models.db.genelEntities6, Aydinlik_Bilgi_Islem" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="genelEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=&quot;C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite&quot;;synchronous=Full" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genelEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.db.Model1.csdl|res://*/Models.db.Model1.ssdl|res://*/Models.db.Model1.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite&quot;;synchronous=Full'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="genelEntities2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=&quot;C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite&quot;;synchronous=Full" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genelEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.db.Model1.csdl|res://*/Models.db.Model1.ssdl|res://*/Models.db.Model1.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite&quot;;synchronous=Full'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="genelEntities3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=C:\Users\bim2\Desktop\aydinlik_bilgi_islem_mvc\aydinlik_bilgi_islem_mvc\bin\genel.sqlite" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genelEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.db.Model1.csdl|res://*/Models.db.Model1.ssdl|res://*/Models.db.Model1.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\bim2\Desktop\aydinlik_bilgi_islem_mvc\aydinlik_bilgi_islem_mvc\bin\genel.sqlite&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="genelEntities4" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=&quot;C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite&quot;;synchronous=Full" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genelEntities4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.db.Model1.csdl|res://*/Models.db.Model1.ssdl|res://*/Models.db.Model1.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite&quot;;synchronous=Full'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="genelEntities5" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=C:\Users\bim2\Desktop\aydinlik_bilgi_islem_mvc\aydinlik_bilgi_islem_mvc\bin\genel.sqlite" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genelEntities5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.db.Model1.csdl|res://*/Models.db.Model1.ssdl|res://*/Models.db.Model1.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\bim2\Desktop\aydinlik_bilgi_islem_mvc\aydinlik_bilgi_islem_mvc\bin\genel.sqlite&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="genelEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite;synchronous=Full" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\genelEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.db.Model1.csdl|res://*/Models.db.Model1.ssdl|res://*/Models.db.Model1.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\bim2\Documents\Visual Studio 2015\Projects\Aydinlik_Bilgi_Islem\Aydinlik_Bilgi_Islem\bin\genel.sqlite;synchronous=Full&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)genelEntities6-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>