<div class="container-fluid" style="background-color:#F44336;color:#fff;height:200px;">
    <h1>Aydınlık Bilgi İşlem</h1>
    <h3>Bir tık kadar uzağınızda</h3>
    <p>Lütfen formu bir kereye mahsus olmak üzere tam doldurunuz</p>
    <p>Şikayet bildirmeden evvel kabloları, güç düğmesini kontrol etmeyi unutmayınız. Programı ve bilgisayarı yeniden başlatmayı deneyiniz...</p>
</div>

<nav class="bs-example" data-spy="affix" data-offset-top="197">
    <ul class="nav nav-tabs">
        <li><a href="#">Ana Sayfa</a></li>
        <li><a href="~/Sohbet.html" target="_blank">Sohbet</a></li>        
        <li><a href="#">Page 3</a></li>
        <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dahili <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">118</a></li>
                <li><a href="#">190</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </li>
    </ul>
</nav>








